*{
margin:0px;
padding:0px;
box-sizing:border-box;
}
html, body{
font-family:Roboto,sans-serif,arial;
color:#242424;
}

.main-section{
  width:100%;
  float:right;
  padding:0px 70px 0px 7opx;
  text-align:center;
  margin-left:5px;
  margin-right:5px;
  
}


.heading a{
font-size:28px;
width:100%;
border-bottom:1px solid #46p7c1;
margin-bottom:20px;
color:#46b7c1;	

 }

.header a 
{   
	 width:100%;
     height:10%;
     text-align:center;
	 background:#fff;
	 padding:10px;
	 font-size:25px;
	 text-decoration:none;
	 border-style:solid;
	 
}



INPUT {
 width:50%;
 height:5%;
}

form
{
	border-style:solid;
	height:100%;
	width:80%;
	background:pink;
	
	
}

 .logo
 {
	 height:60px;
	 background:lightblue;
 }
 nav
 {
	 float:left;
	 padding:75px opx;
	 
 }
 nav a{
 color:black;
 background:#fff;
 text-decoration:none;
 font-size:25px;
 padding:7px 10px;
 width:100%;
 margin:40px;
 box-sizing:message-box;
 }
 .box5{
 color:black;
 background:lightblue;
 
 font-size:20px;

 width:10%;


 box-sizing:message-box;
 }
 .slider img {
	 width:20%;
	 height:15%;
	 
 }
 

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
    padding: 20px;
}
.container1 {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
    padding: 20px;
}
.box4{
	width:30%;
	background:blue;
	height:100%;
	color:white;
	text-decoration:none;
	font-size:25px;
	font-family:Times New Roman;
	
}

.box1 {
    background-color: #f2f2f2; 
    padding: 20px;
    border: 1px solid #ccc;
    flex: 1; 
}


.box2 {
    background-color: #e6e6e6; 
    padding: 20px;
    border: 1px solid #ccc;
    flex: 1;
	}
.box3 {
    background-color:blue;
    color:white;	
    padding: 20px;
    border: 1px solid #ccc;
    flex: 1;
	height:40%;
	width:100%;
	}